* {
    box-sizing: border-box;
}
.btn-primary,.bg-primary {
    background-color: var(--color-bg-variant);
    border: none;
    transition: .1s ease-in-out;
}
.btn-primary:hover {
    background-color: rgb(44, 44, 108,0.7);
}
.wid {
    width: 50%;
}
@media (min-width: 767px) {
    .wid {
        width: 25%;
    }
}
.space {
    width: 80%;
    line-height: 2.3;
    word-spacing:4px;
}